html {
  background-color: #6ebbc3;
  font-family: Pangolin, cursive;
}

header,
footer {
  background-color: #f8d991;
}

.nav a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 100%
}

.btn {
  background-color: #f0b11e;
  border-color: #000;
  color: #000;
}

.brownborder {
  border-color: #271d16;
  border-width: 1px;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.marketo {
  max-width: 300px;
}

.white {
  color: #fff;
}

.brown {
  background-color: #271d16;
}

.blue {
  background-color: #6ebbc3;
}

article {
  border: 3px solid #271d16;
}

.contact {
  border: 30px solid #19d4e9;
  background-color: #042d75;
  color: #fff;
}

.card {
  background-color: #f8d991;
  border: 1px solid #000;
}

th,
td {
  border: 1px solid #000;
  background-color: #fff;
}

.grey {
  background-color: #bbced8;
  color: #000;
}

.event {
  background-color: #19d4e9;
  color: #000;
}

.price {
  border: 30px solid #6ebbc3;
  background-color: #042d75;
  color: #fff;
}
