html {
  background-color: #6EBBC3;
  font-family: Pangolin, cursive;
}

header,
footer {
  background-color: #F8D991;
}

.nav a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 100%
}

.btn {
  background-color: #F0B11E;
  border-color: #000;
  color: #000;
}

.brownborder {
  border-color: #271D16;
  border-width: 1px;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.marketo {
  max-width: 300px;
}

.white {
  color: #fff;
}

.brown {
  background-color: #271D16;
}

.blue {
  background-color: #6EBBC3;
}

article {
  border: 3px solid #271D16;
}
